{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Artists Page</h1>
<br>
<div class="row">
    {% for a in artist %}
        <div class="col-sm-3">
            <div class="box-element product">
                <a href="{% url 'artist' %}{{ a.id }}"><img class="thumbnail" src="{{ a.imageURL }}"></a>
                <hr>
                <p class="card-text">{{ a.info_artist }}</p>
                <a class="card-link" href="{% url 'artist' %}{{ a.id }}" style="float: right;">Xem them...</a>
                <br>
            </div>
            <br>
        </div>
    {% endfor %}
    </div>
{% endblock %}