{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>{{ artist }}</h1>
<br>
<div class="box-element product row">
    <div class="col-sm-6">
        <img src="{{ artist.imageURL }}" height="300" style="margin-left: 10%;">
    </div>
    <div class="col-sm-6">
        <h3>Ten ca si: {{ artist }}</h3>
        <h3>Thong tin ca si: {{ artist.info_artist }}</h3>
    </div>
</div>
<br>
<p><strong>Cac bai hat noi bat</strong></p>
<div class="row">
{% for song in songs %}
    <div class="col-sm-3">
        <div class="box-element product">
            <a href="/web/songs/{{ song.id }}"><img class="thumbnail" src="{{ song.imageURL }}"></a>
            <hr>
            <a class="card-link" href="/web/songs/{{ song.id }}">{{ song }}</a>
            <br>
            <a href="{% url 'artist' %}{{ song.aritst }}" class="card-link">{{ song.aritst }}</a>
        </div>
        <br>
    </div>
{% endfor %}
</div>
{% endblock %}