{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>{{ playlist.playlist }}</h1>
<h6 hidden id="urls"> {% for i in songs %} {{ i.song.audioURL }} {% endfor %} </h6>
<br>
<audio id="audio" controls autoplay>
    {% for i in songs %}
        <source src="{{ i.song.audioURL }}" type="audio/mpeg">
    {% endfor %}
Your browser does not support the audio element.
</audio>
<br>
<div>
{% for item in songs %}
    <h3>Ten bai hat: {{ item.song }}</h3>
    <h3>Ten ca si: {{ item.song.aritst }}</h3>
    <img src="{{ item.song.imageURL }}" height="100" style="margin: auto;">
    <hr>
{% endfor %}
</div>
{% endblock %}
