{% extends "base.html" %}
{% load static %}
{% block page_content %}
<br>
<p hidden id="urls">{{song}},{{ song.audioURL }},{{song.imageURL}},{{song.aritst}}</p>
<div class="main">
  <p id="logo"><i class="fa fa-music"></i>Music</p>
      
  <!--- left part --->
  <div class="left">
  
    <!--- song img --->
    <img id="track_image" src="{{ song.imageURL }}">
    <div class="volume">
      <p id="volume_show">90</p>
      <i class="fa fa-volume-up" aria-hidden="true" onclick="mute_sound()" id="volume_icon"></i>
      <input type="range" min="0" max="100" value="90" onchange="volume_change()" id="volume">  
    </div>
  </div>
   
  
  <!--- right part --->
  <div class="right">

    <div class="show_song_no">
      <p id="present">1</p>
      <p id="seperator">/</p>
      <p id="total">1</p>
    </div>

    <!--- song title & artist name --->
    <p id="title">{{ song }}</p>
    <p id="artist">{{ song.aritst }}</p>
  
    <!--- middle part --->
    <div class="middle">
      <button onclick="previous_song()" id="pre"><i class="fa fa-step-backward" aria-hidden="true"></i></button>
      <button onclick="justplay()" id="play"><i class="fa fa-play" aria-hidden="true"></i></button>
      <button onclick="next_song()" id="next"><i class="fa fa-step-forward" aria-hidden="true"></i></button>
    </div>
  
    <!--- song duration part --->
    <div class="duration">
      <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">
    </div>
    <button id="auto" onclick="autoplay_switch()">Auto play <i class="fa fa-circle-o-notch" aria-hidden="true"></i></button>
  </div>
</div>
<br>
<h2>
  <div class="col-sm-3">  
  <a title="Recommendation">Recommendation</a>
  </div>
</h2>
<div class="row">
  {% for item in rcm  %}
  <div class="col-sm-3">
    <div class="box-element product">
      <a href="{% url 'song' %}{{ item.id }}"><img class="thumbnail" src="{{ item.imageURL }}"></a>
      <hr>
      <a href="/web/songs/{{ item.id }}" class="card-link">{{ item }}</a>
      <br>
      <a href="/web/artists/{{ item.aritst_id }}" class="card-link">{{ item.aritst }}</a>
    </div>
  </div>
  {% endfor %}
</div>
<div class="container mt-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="d-flex flex-column comment-section">
              {% for comment in comments %}
              <div class="bg-white p-2">
                  <div class="d-flex flex-row user-info"><img class="rounded-circle" src="/web/identicon/image/{{comment.uploaded_user.username}}" width="40">
                      <div style="margin-left: 10px;" class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name">{{ comment.uploaded_user.username }}</span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                  </div>
                  <div class="mt-2">
                      <p class="comment-text">{{ comment.comment }}</p>
                  </div>
              </div>
              <div class="bg-white">
                  <div class="d-flex flex-row fs-12">
                      <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                      <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                  </div>
              </div>
              <hr>
              {% endfor %}
              {% if user.is_authenticated %}
              <form method="POST">
                {% csrf_token %}
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="/web/identicon/image/{{user.username}}" width="40"><textarea class="form-control ml-1 shadow-none textarea" style="margin-left: 5px;" name="cmt" id="textbox"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button> <button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button" onclick="cancelCmt();">Cancel</button></div>
                </div>
              </form>
              {% else %}
              <div class="bg-light p-2">
                <div class="d-flex flex-row align-items-start"><textarea disabled class="form-control ml-1 shadow-none textarea">Log In To Comment This Song!</textarea></div>
                <div class="mt-2 text-right"><a class="btn btn-primary btn-sm shadow-none" href="/accounts/login" type="button">Login Now</a></div>
              </div>
              {% endif %}
          </div>
      </div>
  </div>
</div>

<script>
  function cancelCmt(){
    document.getElementById("textbox").value = "";
  }
</script>
{% endblock %}