{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Songs Page</h1>
<br>
<div class="row">
{% for s in song %}
    <div class="col-sm-3">
        <div class="box-element product">
            <a href="/web/songs/{{ s.id }}"><img class="thumbnail" src="{{ s.imageURL }}"></a>
            <hr>
            <a class="card-link" href="/web/songs/{{ s.id }}">{{ s }}</a>
            <br>
            <a href="{% url 'artist' %}{{ s.aritst }}" class="card-link">{{ s.aritst }}</a>
        </div>
        <br>
    </div>
{% endfor %}
</div>
{% endblock %}